.b1{font-weight: bolder;}

h1{text-align: center;}
#detail{ text-align: center
;}
#trailer{display:flex ; justify-content: center;}
#link{display:flex; justify-content: center;}

#jai{text-align: center;}